
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Список пациентов", "List", "Patient")
@Html.ActionLink("Список работников", "List", "User")
@Html.ActionLink("Список специализаций", "List", "Specialize")
@Html.ActionLink("Создать", "Create", "Specialize")
